* {
  font-family: "Roboto";
}
.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

/* figure .image img {
  width: 128px;
} */

.notification {
  margin-top: 20px !important;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}

figure .image img {
  width: 60%;
  height: 60%;
  margin-right: 4px;
}
.image {
  width: 128px;
  margin-right: 10px;
}

.media {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.media-left {
  margin: 5px 10px 5px 50px;
}
